@use 'base/variables' as v;

.citas {

    list-style: none;


    li {
        padding: 1rem;
        border-top: 1px solid v.$blanco;

        p {
            font-weight: v.$bold;
            color: v.$verde;
        }

        span,
        .servicio {
            font-weight: v.$regular;
            color: v.$blanco;
        }
    }
}

//Notifaciones
.notificacion {
    position: fixed;
    top: 2rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity 3s ease;
    border-radius: 5px;
}

.noterror {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}

.notexito {
    background-color: rgb(179, 241, 117);
    color: green;
}

.visible {
    opacity: 1;
}

.servicios {
    @extend .citas;

    .acciones {

        .boton,
        .botonn-eliminar {
            margin: 0;
        }
    }
}